<!DOCTYPE html>

<html>

<head>
    {{>header_section}}
</head>

<body>

    <div class = "main-content">
        {{>header}}
        <p>This site was create Manuel Fernández. It uses data from Mapbox.com and Darksky.net!!</p>
        <img class="portrait" src="/img/img_001.png">
    </div>

    {{>footer}}

</body>

</html>