<!DOCTYPE html>

<html>

<head>

    {{>header_section}}
    
</head>

<body>

    <div class = "main-content">
        {{>header}}

        <p>Use this to get your weather!</p>

        <form id = "searchForm">
            <input id = "locationInput" placeholder="Location">
            <button>Search</button>
        </form>

        <p id = "messagePlaceHolder1"></p>
        <p id = "messagePlaceHolder2"></p>

    </div>

    {{>footer}}

    <script src="/js/app.js"></script>

</body>

</html>